<header>
    <h1>Playback Studio</h1>
</header>

<a href="/add-album">Add to Collection</a>

<section class="album-list">
    <% albums.forEach(album => { %>
        <div class="album-card">
            <a href="/album/<%= album.id %>">
                <img src="<%= album.image_url %>" alt="<%= album.title %>">
                <p><%= album.artist %> - <%= album.title %></p>
            </a>
        </div>
    <% }) %>
</section>